*{
    margin: 0em;
}
body{
    background:url(todo1.jpg);
    background-size: cover;
    background-position: initial;
    background-repeat: no-repeat;
    height: 100vh;
}
h1{
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
}
.todo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    /* background-color: rgb(83, 0, 127); */
    /* padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 500px;
    margin-right: 500px;
    padding-left: 50px; */
    border-radius: 20px;
}
.del-btn{
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    width: 90px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 20px;
    margin-left: 50px;
}

li{
    font-size: 28px;
    text-align: left;
    margin-bottom: 20px;
    /* margin-left: 250px; */
    color: white;
    font-weight: bold;
    /* background-color: rgb(83, 0, 127); */
}
#btn{
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    width: 90px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    /* margin-right: 20px; */
    /* margin-left: 20px; */
}
#textin{
    /* margin-left: 180px; */
    /* margin-right: 20px;
    margin-bottom: 20px; */
    border: none;
    border-radius: 20px;
    background-color: rgb(217, 216, 216);
    width: 350px;
    height: 30px;
    color: black;
    font-size: 20px;
}

.to{
    display: flex;
    justify-content: center;
}